/*	------------------------------------------------
全体共通
------------------------------------------------	*/
:root {
  --text-color: #333;
  --text-color2: #666;
  --border-color: #333;
  --border-color2: #ccc;
  --bg-color: #d9e9e5;
  --bg-color2: #25b09b;
  --bg-color3: #006eff;
  --box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

/*  デザイン、文字、サイズ  */
body {
  margin: 0;
  font-synthesis: none;
  font-family: YuGothic, "Yu Gothic", "游ゴシック体", "游ゴシック",
    "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  color: var(--text-color0);
}
#root {
  position: relative;
}
h1,
h2,
h3,
p,
ul,
dl,
dd {
  margin: 0;
}
button {
  cursor: pointer;
}
ul {
  list-style: none;
  padding: 0;
}
table {
  display: block;
  border-collapse: collapse;
}
thead,
tbody,
tfoot,
tr,
label {
  width: 100%;
  display: block;
}
th,
td {
  word-wrap: break-word; /* 古いブラウザ用 */
  word-break: break-word; /* 推奨：長い単語を折り返す */
  overflow-wrap: break-word; /* 新しい標準 */
}
th[scope="col"],
th[scope="row"] {
  font-weight: normal;
}
